In [46]:
import pandas as pd
url = 'https://raw.githubusercontent.com/OlhaOsypova/Machine-Learning-and-Data-Analytics/refs/heads/main/Topic_3_stat/Task/stack_overflow_2024.csv'
df = pd.read_csv(url)
df

,MainBranch,Age,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,CompTotal,SOVisitFreq,...,TimeAnswering,ProfessionalCloud,ProfessionalQuestion,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,I am a developer by profession,Under 18 years old,Remote,Primary/elementary school,NaN,NaN,NaN,United States of America,147000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I am a developer by profession,35-44 years old,Remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20.0,17.0,NaN,United Kingdom of Great Britain and Northern I...,NaN,Multiple times per day,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,I am a developer by profession,45-54 years old,Remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",37.0,27.0,NaN,United Kingdom of Great Britain and Northern I...,NaN,Multiple times per day,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,I am learning to code,18-24 years old,NaN,Some college/university study without earning ...,4.0,NaN,NaN,Canada,120000.0,Daily or almost daily,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,I code primarily as a hobby,Under 18 years old,NaN,Primary/elementary school,10.0,NaN,NaN,United States of America,147000.0,Multiple times per day,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58056,I am a developer by profession,18-24 years old,Remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5.0,3.0,2 to 9 employees,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58057,I am a developer by profession,25-34 years old,Remote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58058,I am a developer by profession,25-34 years old,In-person,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",9.0,5.0,"1,000 to 4,999 employees",NaN,120000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58059,I am a developer by profession,18-24 years old,"Hybrid (some remote, some in-person)","Secondary school (e.g. American high school, G...",5.0,2.0,20 to 99 employees,Germany,NaN,A few times per month or weekly,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
58060,I code primarily as a hobby,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Daily or almost daily,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
#Огляд датасету
df.shape #загальна кількість рядків і стовпців

(58061, 35)

In [48]:
#коротка довідка про датафрейм
#column - назва стовпця
#non-Null Count - кількість заповнених значень для кожного стовпця
#dtype - тип інформації в кожному стовпці 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58061 entries, 0 to 58060
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MainBranch            58061 non-null  object
 1   Age                   58061 non-null  object
 2   RemoteWork            48673 non-null  object
 3   EdLevel               53889 non-null  object
 4   YearsCode             53076 non-null  float64
 5   YearsCodePro          45818 non-null  float64
 6   OrgSize               42136 non-null  object
 7   Country               52201 non-null  object
 8   CompTotal             44886 non-null  float64
 9   SOVisitFreq           52758 non-null  object
 10  SOAccount             52776 non-null  object
 11  SOPartFreq            40057 non-null  object
 12  SOComm                52411 non-null  object
 13  AISelect              53958 non-null  object
 14  AISent                40721 non-null  object
 15  AIAcc                 33163 non-null  object
 16  AIComplex             32910 non-null  object
 17  AIThreat              39656 non-null  object
 18  TBranch               39414 non-null  object
 19  ICorPM                26387 non-null  object
 20  WorkExp               26274 non-null  float64
 21  Knowledge_1           25383 non-null  object
 22  Knowledge_2           24818 non-null  object
 23  Knowledge_3           24875 non-null  object
 24  TimeSearching         25589 non-null  object
 25  TimeAnswering         25530 non-null  object
 26  ProfessionalCloud     25231 non-null  object
 27  ProfessionalQuestion  25506 non-null  object
 28  JobSatPoints_1        25972 non-null  float64
 29  JobSatPoints_4        26031 non-null  float64
 30  JobSatPoints_5        26052 non-null  float64
 31  SurveyLength          49755 non-null  object
 32  SurveyEase            49809 non-null  object
 33  ConvertedCompYearly   20767 non-null  float64
 34  JobSat                25793 non-null  float64
dtypes: float64(9), object(26)
memory usage: 15.5+ MB

In [49]:
#Видалення стовпців із великою кількістю пропусків

missing_fraction = df.isnull().mean() #обчислюємо частку пропусків у кожному стовпці

In [50]:
#видаляємо стовпці де кількість пропусків більше 30%
df_cleaned = df.drop(columns=missing_fraction[missing_fraction > 0.3].index) 

# Перевіряємо результат
print(f"Було стовпців: {df.shape[1]}, залишилось: {df_cleaned.shape[1]}")
df_cleaned.head()

Було стовпців: 35, залишилось: 16

,MainBranch,Age,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,CompTotal,SOVisitFreq,SOAccount,SOComm,AISelect,AISent,SurveyLength,SurveyEase
0,I am a developer by profession,Under 18 years old,Remote,Primary/elementary school,NaN,NaN,NaN,United States of America,147000.0,NaN,NaN,NaN,Yes,Very favorable,NaN,NaN
1,I am a developer by profession,35-44 years old,Remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20.0,17.0,NaN,United Kingdom of Great Britain and Northern I...,NaN,Multiple times per day,Yes,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN
2,I am a developer by profession,45-54 years old,Remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",37.0,27.0,NaN,United Kingdom of Great Britain and Northern I...,NaN,Multiple times per day,Yes,"Yes, definitely","No, and I don't plan to",NaN,Appropriate in length,Easy
3,I am learning to code,18-24 years old,NaN,Some college/university study without earning ...,4.0,NaN,NaN,Canada,120000.0,Daily or almost daily,No,"No, not really",Yes,Very favorable,Too long,Easy
4,I code primarily as a hobby,Under 18 years old,NaN,Primary/elementary school,10.0,NaN,NaN,United States of America,147000.0,Multiple times per day,Yes,"Yes, definitely",Yes,Favorable,Appropriate in length,Easy

In [51]:
#Аналіз та видалення викидів

df.describe()

,YearsCode,YearsCodePro,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,ConvertedCompYearly,JobSat
count,53076.000000,45818.000000,4.488600e+04,26274.000000,25972.000000,26031.000000,26052.000000,2.076700e+04,25793.000000
mean,14.240994,10.260967,3.341200e+10,11.469285,18.630313,7.438717,10.027056,8.607141e+04,6.943512
std,10.655077,9.063033,5.449127e+12,9.155960,25.920354,18.270130,21.774249,1.580473e+05,2.083373
min,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,6.000000,3.000000,6.600000e+04,4.250000,0.000000,0.000000,0.000000,3.398200e+04,6.000000
50%,11.000000,7.000000,1.200000e+05,9.000000,10.000000,0.000000,0.000000,6.590700e+04,7.000000
75%,20.000000,15.000000,2.300000e+05,16.000000,23.000000,5.000000,10.000000,1.090390e+05,8.000000
max,50.000000,50.000000,1.111111e+15,50.000000,100.000000,100.000000,100.000000,1.381802e+07,10.000000

In [52]:
#проаналізувавши максимальні та мінімальні значення кожної змінної можна зробити висновок що викиди присутні тому зробимо ще аналіз екстремально низьких та високих значень

#імпорт бібліотеки numpy для роботи з числовими масивами
import numpy as np

def extreme_values_summary(df):
    """
    Для кожної числової колонки виводить:
    - мінімум
    - 1% процентиль
    - 99% процентиль
    - максимум
        """
    num_cols = df.select_dtypes(include=[np.number]).columns #відбираємо тільки числові змінні
    summary = {}

# в кожному стовпчику видаляємо пропуски, розраховуємо 1%-ий та 99%-ий процентилі
    for col in num_cols:
        col_data = df[col].dropna()
        q01 = col_data.quantile(0.01)
        q99 = col_data.quantile(0.99)
        

# зводимо разом результати, отримані для кожного стовпчика 
        summary[col] = {
            "min": col_data.min(),
            "1%": q01,
            "99%": q99,
            "max": col_data.max(),
                    }

    return pd.DataFrame(summary).T

extreme_values_summary(df) #виклик функції

                     min      1%           99%           max
YearsCode            1.0     1.0  4.500000e+01  5.000000e+01
YearsCodePro         1.0     1.0  4.000000e+01  5.000000e+01
CompTotal            0.0  3000.0  1.800000e+08  1.111111e+15
WorkExp              0.0     1.0  4.000000e+01  5.000000e+01
JobSatPoints_1       0.0     0.0  1.000000e+02  1.000000e+02
JobSatPoints_4       0.0     0.0  1.000000e+02  1.000000e+02
JobSatPoints_5       0.0     0.0  1.000000e+02  1.000000e+02
ConvertedCompYearly  1.0   210.0  3.856106e+05  1.381802e+07
JobSat               0.0     0.0  1.000000e+01  1.000000e+01

In [53]:
#в деяких рядках мін/макс значення суттєво відрізняються від 1%/99% що ознає що вони мають викиди

In [54]:
#видалення викидів

import numpy as np
# видалимо викиди в стовпчику Age
column = 'CompTotal'
# Обчислюємо 1% та 99% процентилі
lower_bound = df[column].quantile(0.01)
upper_bound = df[column].quantile(0.99)

# Фільтруємо дані з урахуванням пропусків (NaN)
df_cleaned = df[((df[column] >= lower_bound) & (df[column] <= upper_bound)) | (df[column].isna())]

# Перевіряємо розмір нового DataFrame після видалення викидів
print(f'Кількість рядків після видалення викидів для стовпця {column}: {df_cleaned.shape[0]}')

# Виводимо описову статистику, щоб побачити результат
df_cleaned.describe()

Кількість рядків після видалення викидів для стовпця CompTotal: 57180

,YearsCode,YearsCodePro,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,ConvertedCompYearly,JobSat
count,52204.000000,45025.000000,4.400500e+04,25820.000000,25519.000000,25577.000000,25597.000000,2.040100e+04,25348.000000
mean,14.304728,10.312271,1.378543e+06,11.521766,18.516772,7.360998,9.875332,8.559924e+04,6.946978
std,10.674726,9.079923,8.803426e+06,9.160436,25.771408,18.136755,21.587952,1.183624e+05,2.082308
min,1.000000,1.000000,3.000000e+03,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,6.000000,3.000000,6.700000e+04,5.000000,0.000000,0.000000,0.000000,3.565300e+04,6.000000
50%,11.000000,8.000000,1.200000e+05,9.000000,10.000000,0.000000,0.000000,6.687700e+04,7.000000
75%,20.000000,15.000000,2.200000e+05,16.000000,20.000000,5.000000,10.000000,1.100000e+05,8.000000
max,50.000000,50.000000,1.800000e+08,50.000000,100.000000,100.000000,100.000000,9.000000e+06,10.000000

In [55]:
import numpy as np
# видалимо викиди в стовпчику Age
column = 'ConvertedCompYearly'
# Обчислюємо 1% та 99% процентилі
lower_bound = df[column].quantile(0.01)
upper_bound = df[column].quantile(0.99)

# Фільтруємо дані з урахуванням пропусків (NaN)
df_cleaned = df[((df[column] >= lower_bound) & (df[column] <= upper_bound)) | (df[column].isna())]

# Перевіряємо розмір нового DataFrame після видалення викидів
print(f'Кількість рядків після видалення викидів для стовпця {column}: {df_cleaned.shape[0]}')

# Виводимо описову статистику, щоб побачити результат
df_cleaned.describe()

Кількість рядків після видалення викидів для стовпця ConvertedCompYearly: 57646

,YearsCode,YearsCodePro,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,ConvertedCompYearly,JobSat
count,52666.000000,45411.000000,4.447100e+04,26021.000000,25715.000000,25772.000000,25793.000000,20352.000000,25537.000000
mean,14.227205,10.248090,3.372043e+10,11.449253,18.580070,7.423687,9.982975,79283.954255,6.943925
std,10.651472,9.056755,5.474493e+12,9.145494,25.885739,18.252566,21.701601,62000.219263,2.080176
min,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,210.000000,0.000000
25%,6.000000,3.000000,6.615400e+04,4.000000,0.000000,0.000000,0.000000,34993.750000,6.000000
50%,11.000000,7.000000,1.200000e+05,9.000000,10.000000,0.000000,0.000000,65907.000000,7.000000
75%,20.000000,15.000000,2.250000e+05,16.000000,22.000000,5.000000,10.000000,107406.000000,8.000000
max,50.000000,50.000000,1.111111e+15,50.000000,100.000000,100.000000,100.000000,385069.000000,10.000000

In [56]:
#Обробка пропусків

df.isnull().sum()

MainBranch                  0
Age                         0
RemoteWork               9388
EdLevel                  4172
YearsCode                4985
YearsCodePro            12243
OrgSize                 15925
Country                  5860
CompTotal               13175
SOVisitFreq              5303
SOAccount                5285
SOPartFreq              18004
SOComm                   5650
AISelect                 4103
AISent                  17340
AIAcc                   24898
AIComplex               25151
AIThreat                18405
TBranch                 18647
ICorPM                  31674
WorkExp                 31787
Knowledge_1             32678
Knowledge_2             33243
Knowledge_3             33186
TimeSearching           32472
TimeAnswering           32531
ProfessionalCloud       32830
ProfessionalQuestion    32555
JobSatPoints_1          32089
JobSatPoints_4          32030
JobSatPoints_5          32009
SurveyLength             8306
SurveyEase               8252
ConvertedCompYearly     37294
JobSat                  32268
dtype: int64

In [57]:
#опрацьовуємо пропуски в числових даних, заповнивши їх медіанним значенням
numeric_columns = df.select_dtypes(include=[float, int]).columns
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='median')
df[numeric_columns] = num_imputer.fit_transform(df[numeric_columns])

In [58]:
#далі заповнимо пропуски в категоріальних даних значеннями нової категорії Not given
categorical_columns = df.select_dtypes(include=['object']).columns
cat_imputer = SimpleImputer(strategy='constant', fill_value='Not given')
df[categorical_columns] = cat_imputer.fit_transform(df[categorical_columns])

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58061 entries, 0 to 58060
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MainBranch            58061 non-null  object
 1   Age                   58061 non-null  object
 2   RemoteWork            58061 non-null  object
 3   EdLevel               58061 non-null  object
 4   YearsCode             58061 non-null  float64
 5   YearsCodePro          58061 non-null  float64
 6   OrgSize               58061 non-null  object
 7   Country               58061 non-null  object
 8   CompTotal             58061 non-null  float64
 9   SOVisitFreq           58061 non-null  object
 10  SOAccount             58061 non-null  object
 11  SOPartFreq            58061 non-null  object
 12  SOComm                58061 non-null  object
 13  AISelect              58061 non-null  object
 14  AISent                58061 non-null  object
 15  AIAcc                 58061 non-null  object
 16  AIComplex             58061 non-null  object
 17  AIThreat              58061 non-null  object
 18  TBranch               58061 non-null  object
 19  ICorPM                58061 non-null  object
 20  WorkExp               58061 non-null  float64
 21  Knowledge_1           58061 non-null  object
 22  Knowledge_2           58061 non-null  object
 23  Knowledge_3           58061 non-null  object
 24  TimeSearching         58061 non-null  object
 25  TimeAnswering         58061 non-null  object
 26  ProfessionalCloud     58061 non-null  object
 27  ProfessionalQuestion  58061 non-null  object
 28  JobSatPoints_1        58061 non-null  float64
 29  JobSatPoints_4        58061 non-null  float64
 30  JobSatPoints_5        58061 non-null  float64
 31  SurveyLength          58061 non-null  object
 32  SurveyEase            58061 non-null  object
 33  ConvertedCompYearly   58061 non-null  float64
 34  JobSat                58061 non-null  float64
dtypes: float64(9), object(26)
memory usage: 15.5+ MB

In [60]:
#Аналіз респондентів з України

df_Ukraine = df[df['Country'] == 'Ukraine'] #фільтруємо дані та зберігаємо в окремий датафрейм

In [61]:
#як часто респонденти з України використовують AI у відсотках
df_Ukraine['AISelect'].value_counts(normalize=True, dropna=False) * 100

AISelect
Yes                        72.077376
No, but I plan to soon     14.634146
No, and I don't plan to    13.120269
Not given                   0.168209
Name: proportion, dtype: float64

In [62]:
#яке ставлення українські ІТ-фахівці мають до AI, також у відсотках
df_Ukraine['AISent'].value_counts(normalize=True, dropna=False) * 100

AISent
Favorable           40.328007
Indifferent         22.792262
Very favorable      16.063919
Not given           14.003364
Unsure               3.406224
Unfavorable          2.817494
Very unfavorable     0.588730
Name: proportion, dtype: float64

In [63]:
#після цього аналізу можемо зробити висновок, що більша частина респондентів з україни використовує штучний інтелект (72%) та дуже малий відсоток не викристовує. Стосовно ставлення до ШІ відповіді неоднозначні, позитивно та дуже позитивно ставиться лише 40% та 16% відсотків респондентів відповідно, байдуже-22, не дуже добре приблизно 7% респондентів

In [64]:
#групуємо респондентів за основною сферою діяльності (MainBranch)
#обчислюємо середній досвід (YearsCode)
avg_experience = df_Ukraine.groupby('MainBranch')['YearsCode'].mean()
print(avg_experience)

MainBranch
I am a developer by profession                                                           10.030949
I am learning to code                                                                     2.513889
I am not primarily a developer, but I write code sometimes as part of my work/studies     8.175532
I code primarily as a hobby                                                               5.416667
I used to be a developer by profession, but no longer am                                 10.871795
Name: YearsCode, dtype: float64

In [65]:
#групуємо респондентів за змінною RemoteWork (чи працює респондент віддалено)
#для кожної групи розраховуємо медіанні значення кількісті років програмування (YearsCode) та зарплати (CompTotal) 
median_values = df_Ukraine.groupby('RemoteWork')[['YearsCode', 'CompTotal']].median()
print(median_values)

                                      YearsCode  CompTotal
RemoteWork
Hybrid (some remote, some in-person)        8.0    66000.0
In-person                                   5.0    65000.0
Not given                                   4.0    65000.0
Remote                                      8.0    65000.0

In [66]:
#різниця в зарплаті не значна, вона не залежить від формату роботи. Найбільше середнє ззначення у тих хто працює гібридно, у всіх інших він однаковий. Середні досвід роботи найбльший у тих хто працює гібридно або повністю віддалено, найменший у тих хто не вказав формат роботи та тих хто працює не віддалено.

In [67]:
#Кодування та стандартизація змінних 

# імпортуємо клас OneHotEncoder з бібліотеки sklearn, який дозволяє перетворювати категоріальні змінні в числові
from sklearn.preprocessing import OneHotEncoder

# Ініціалізуємо OneHotEncoder
encoder = OneHotEncoder(sparse_output=False, drop='first')

# Застосовуємо OneHotEncoder до категоріальних стовпців
encoded_columns = encoder.fit_transform(df[categorical_columns])

# Створюємо новий DataFrame з перекодованими змінними і назвами колонок
encoded_df = pd.DataFrame(encoded_columns, columns=encoder.get_feature_names_out(categorical_columns))

# Об'єднуємо початковий DataFrame з новими перекодованими стовпцями
df = df.drop(columns=categorical_columns)  # Видаляємо оригінальні категоріальні стовпці
df = pd.concat([df, encoded_df], axis=1)

print(df.head())

   YearsCode  YearsCodePro  CompTotal  WorkExp  JobSatPoints_1  \
0       11.0           7.0   147000.0      9.0            10.0
1       20.0          17.0   120000.0     17.0             0.0
2       37.0          27.0   120000.0      9.0            10.0
3        4.0           7.0   120000.0      9.0            10.0
4       10.0           7.0   147000.0      9.0            10.0

   JobSatPoints_4  JobSatPoints_5  ConvertedCompYearly  JobSat  \
0             0.0             0.0              65907.0     7.0
1             0.0             0.0              65907.0     7.0
2             0.0             0.0              65907.0     7.0
3             0.0             0.0              65907.0     7.0
4             0.0             0.0              65907.0     7.0

   MainBranch_I am learning to code  ...  ProfessionalQuestion_Not given  \
0                               0.0  ...                             1.0
1                               0.0  ...                             1.0
2                               0.0  ...                             1.0
3                               1.0  ...                             1.0
4                               0.0  ...                             1.0

   ProfessionalQuestion_Other:  ProfessionalQuestion_Slack search  \
0                          0.0                                0.0
1                          0.0                                0.0
2                          0.0                                0.0
3                          0.0                                0.0
4                          0.0                                0.0

   ProfessionalQuestion_Traditional public search engine  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   SurveyLength_Not given  SurveyLength_Too long  SurveyLength_Too short  \
0                     1.0                    0.0                     0.0
1                     1.0                    0.0                     0.0
2                     0.0                    0.0                     0.0
3                     0.0                    1.0                     0.0
4                     0.0                    0.0                     0.0

   SurveyEase_Easy  SurveyEase_Neither easy nor difficult  \
0              0.0                                    0.0
1              0.0                                    0.0
2              1.0                                    0.0
3              1.0                                    0.0
4              1.0                                    0.0

   SurveyEase_Not given
0                   1.0
1                   1.0
2                   0.0
3                   0.0
4                   0.0

[5 rows x 312 columns]

In [68]:
#імпортуємо клас StandardScaler з sklearn, який використовується для стандартизації даних
from sklearn.preprocessing import StandardScaler

# Ініціалізуємо StandardScaler
scaler = StandardScaler()

# Стандартизуємо кількісні ознаки
standardized_columns = scaler.fit_transform(df[numeric_columns])

# Перетворюємо стандартизовані дані в DataFrame з відповідними назвами стовпців
standardized_df = pd.DataFrame(standardized_columns, columns=numeric_columns, index=df.index)

# Видаляємо початкові кількісні ознаки
df = df.drop(columns=numeric_columns)

# Додаємо стандартизовані ознаки назад до DataFrame
df = pd.concat([df, standardized_df], axis=1)

# Перевіряємо результат
print(df.head())

   MainBranch_I am learning to code  \
0                               0.0
1                               0.0
2                               0.0
3                               1.0
4                               0.0

   MainBranch_I am not primarily a developer, but I write code sometimes as part of my work/studies  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   MainBranch_I code primarily as a hobby  \
0                                     0.0
1                                     0.0
2                                     0.0
3                                     0.0
4                                     1.0

   MainBranch_I used to be a developer by profession, but no longer am  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   Age_25-34 years old  Age_35-44 years old  Age_45-54 years old  \
0                  0.0                  0.0                  0.0
1                  0.0                  1.0                  0.0
2                  0.0                  0.0                  1.0
3                  0.0                  0.0                  0.0
4                  0.0                  0.0                  0.0

   Age_55-64 years old  Age_65 years or older  Age_Prefer not to say  ...  \
0                  0.0                    0.0                    0.0  ...
1                  0.0                    0.0                    0.0  ...
2                  0.0                    0.0                    0.0  ...
3                  0.0                    0.0                    0.0  ...
4                  0.0                    0.0                    0.0  ...

   SurveyEase_Not given  YearsCode  YearsCodePro  CompTotal   WorkExp  \
0                   1.0  -0.289677     -0.315359  -0.005391 -0.177917
1                   1.0   0.590287      0.910123  -0.005391  1.095862
2                   0.0   2.252441      2.135604  -0.005391 -0.177917
3                   0.0  -0.974094     -0.315359  -0.005391 -0.177917
4                   0.0  -0.387451     -0.315359  -0.005391 -0.177917

   JobSatPoints_1  JobSatPoints_4  JobSatPoints_5  ConvertedCompYearly  \
0       -0.216168       -0.260955       -0.291882            -0.075909
1       -0.776111       -0.260955       -0.291882            -0.075909
2       -0.216168       -0.260955       -0.291882            -0.075909
3       -0.216168       -0.260955       -0.291882            -0.075909
4       -0.216168       -0.260955       -0.291882            -0.075909

     JobSat
0  0.018068
1  0.018068
2  0.018068
3  0.018068
4  0.018068

[5 rows x 312 columns]